.checkout-page {
    h3 {
        margin: 0;
    }

    padding: 20px 40px;
    display: grid;
    grid-template-rows: auto max-content;
    row-gap: 10px;

    .checkout-container {
        display: grid;
        grid-template-rows: repeat(auto, max-content);
        row-gap: 10px;
        margin-top: 30px;
        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;

            &-info {
                display: grid;
                grid-template-columns: 100px auto;
                column-gap: 20px;

                &-details {
                    display: grid;
                    align-content: center;

                    #name {
                      margin-bottom: 5px;  
                    }
                }
            }

            &-price {
                display: grid;
                grid-template-columns:  min-content min-content;
                column-gap: 40px;
                align-content: center;
                justify-content: flex-end;

                img {
                    cursor: pointer;
                }
            }
        }
    }

    .checkout-total {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        column-gap: 5px;
        justify-content: end;
    }
}